<%- include header %>
<script type="text/javascript" src="../js/ajaxform.js"></script>
<script type="text/javascript" src="../js/geo.js"></script>
<%- include head-info %>
<%- include right %>
<div class="m-left">
	<%- include alert %>
	<ul class="nav nav-tabs nav-justified account-ul" id="account_ul">
		<li role="presentation" class="active"><a href="javascript:;">个人信息</a></li>
		<li role="presentation" class=""><a href="javascript:;">头像昵称</a></li>
		<li role="presentation" class=""><a href="javascript:;">登陆密码</a></li>
	</ul>
	<div id="account_cont">
		<div class="row" style="padding: 40px 20px;">
			<div id="showBasicInfo">
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">个人资料：</th>
					</tr></tbody></table>
					<div id="basicInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable">
					        <tbody>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">性&nbsp;&nbsp;&nbsp;别：</td>
					                <td class="rolTd2rolSele">
					                    <span class="tdP20">
					                        <% if (user.sex === '1') { %>
					                        	男
					                        <% } else { %>
					                        	女
					                        <% } %>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">生&nbsp;&nbsp;&nbsp;日：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                       <%= user.birthday %>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">婚&nbsp;&nbsp;&nbsp;姻：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <% if (user.sex === '0') { %>
					                        	单身
					                        <% } else if (user.sex === '1'){ %>
					                        	热恋中
					                        <% } else if (user.sex === '2'){ %>
					                        	已婚
					                        <% } else if (user.sex === '3'){ %>
					                        	离婚
					                        <% } %>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">职&nbsp;&nbsp;&nbsp;业：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <%= user.profession %>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">现居地：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <%= user.address %>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">家&nbsp;&nbsp;&nbsp;乡：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <%= user.nativeplace %>
					                    </span>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">教育经历：</th>
					</tr></tbody></table>
					<div id="eduInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable">
					        <tbody>
					            <tr>
					                <td class="rolTd2">
					                	<span class="tdP20">
					                    	<% user.educationexperience.forEach(function(edu){ %>
					                    		<%= edu.time %> 就读于 <%= edu.school %> <%= edu.level %>
					                    	<% }); %>
					                    </span>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">个人签名：</th>
					</tr></tbody></table>
					<div id="signInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable sign-wrap">
					        <tbody>
					            <tr>
					                <td class="rolTd2">
					                    <span class="tdP20">
					                    	<%= user.sign %>
					                    </span>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
			<div id="hideBasicInfo" class="none">
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">个人资料：</th>
					</tr></tbody></table>
					<div id="basicInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable">
					        <tbody>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">性&nbsp;&nbsp;&nbsp;别：</td>
					                <td class="rolTd2rolSele">
					                    <span class="tdP20">
				                    	<em class="personRadio">
				                            <input id="bis_man" name="basicInfoSex" value="1" type="radio"></em>
				                        <label for="bis_man">男</label>
				                        <em class="personRadio">
				                            <input id="bis_female" name="basicInfoSex" value="0" type="radio"></em>
				                        <label for="bis_female">女</label></span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">生&nbsp;&nbsp;&nbsp;日：</td>
					                <td class="rolTd2 rolSele">
					                <form name="form1">
					                    <span class="tdP20" id="brithday_wrap">
					                        <em>
					                            <select id="selBirthdayYear" name="basicInfoYear" style="width:66px;">
					                                
					                            </select>
					                        </em>&nbsp;&nbsp;
					                        <em>
					                            <select id="selBirthdayMonth" name="basicInfoMonth" style="width:46px;">
					                                
					                            </select>
					                        </em>
					                        <em>&nbsp;&nbsp;
					                            <select id="selBirthdayDay" name="basicInfoDay" style="width:46px;">
					                                
					                            </select>
					                        </em>
					                    </span>

					                    <p id="msgBirthday" style="display:none;" class="errorAction addForm">请选择完整年月日</p>
					                </form>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">婚&nbsp;&nbsp;&nbsp;姻：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <em>
					                            <select id="selMarriage" name="basicInfoMerried" style="width:82px;">
					                                <option value="0">请选择</option>
					                                <option value="1">单身</option>
					                                <option value="2">恋爱中</option>
					                                <option value="3">小两口</option>
					                                <option value="4">家有儿女</option></select>
					                        </em>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">职&nbsp;&nbsp;&nbsp;业：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <em>
					                            <select id="selJob" name="basicInfoPro" style="width:207px;">
					                                <option value="0">请选择</option>
					                                <option value="1">学生</option>
					                            </select>
					                        </em>
					                    </span>
					                </td>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">现居地：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <em>
					                            <select id="selProvince" name="basicInfoProvince" style="width:105px;" id="s1">
					                            </select>
					                        </em>&nbsp;&nbsp;
					                        <em>
					                            <select id="selCity" name="basicInfoCity" style="width: 105px;">
					                            </select>
					                        </em>&nbsp;&nbsp;
					                        <em>
					                            <select id="selArea" name="basicInfoArea" style="width: 105px;">
					                            </select>
					                        </em>
					                    </span>
					                    <p id="msgPlace" style="display:none;" class="errorAction addForm">请选择省内城市或直辖市区域</p>
					                    <script>
					                    	addressInit('selProvince', 'selCity', 'selArea');
					                    </script>
					            </tr>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele">家&nbsp;&nbsp;&nbsp;乡：</td>
					                <td class="rolTd2 rolSele">
					                    <span class="tdP20">
					                        <em>
					                            <select id="selHometownProvince" name="basicInfoHometownProvince" style="width:105px;">
					                            </select>
					                        </em>&nbsp;&nbsp;
					                        <em>
					                            <select id="selHometownCity" name="basicInfoHometownCity" style="width: 105px;"></select>
					                        </em>&nbsp;&nbsp;
					                        <em>
					                            <select id="selHometownArea" name="basicInfoHometownArea" style="width: 105px;"></select>
					                        </em>
					                    </span>
					                    <p id="msgHometown" style="display:none;" class="errorAction addForm">请选择省内城市或直辖市区域</p>
					                    <script>
					                    	addressInit('selHometownProvince', 'selHometownCity', 'selHometownArea');
					                    </script>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">教育经历：</th>
					</tr></tbody></table>
					<div id="eduInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable">
					        <tbody>
					            <tr>
					                <td class="rolTd1 CP_txta rolSele"></td>
					                <td class="rolTd2rolSele">
					                    <span class="tdP20">
					                    	<select name="basicInfoEduLevel">
					                    		<option>大学</option>
					                    		<option>中学</option>
					                    		<option>初中</option>
					                    	</select>
					                    	<input class="edu-inp" name="basicInfoEduSchool" type="text" placeholder="学校名称"/>
					                    	<select class="ml20" name="basicInfoEduTime">
					                    		<option>入读时间</option>
					                    		<option>2014</option>
					                    	</select>
					                    	<a href="javascript:;" class="ml20 btn btn-primary btn-xs active" role="button">新增</a>
					                    	<a href="javascript:;" class=" none btn btn-primary btn-xs active" role="button">删除</a>
					                    </span>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="personTable">
						<tbody><tr><th colspan="2" align="left">个人签名：</th>
					</tr></tbody></table>
					<div id="signInfoEditor" class="basicInfo col-md-10">
					    <table class="personTable sign-wrap">
					        <tbody>
					            <tr>
					                <td class="rolTd2">
					                    <span class="tdP20">
					                    	<textarea name="basicInfoSign" class="sign-txt" rows="3"></textarea>
					                    </span>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
			    <table class="personTable">
					<tbody>
						<tr>
			                <td class="rolTd2 rolSele">
			                    <p class="personBtn">
			                    	<span>
			                            <a href="javascript:;" class="btn btn-primary btn-xs active" id="basicInfo_update" role="button">修改</a>
			                        </span>
			                        <span>
			                            <a href="javascript:;" class="btn btn-primary btn-xs active none" id="basicInfo_submit" role="button">保存</a>
			                        </span>
			                        <span>
										<a href="javascript:;" class="btn btn-default btn-xs active" id="basicInfo_cancel" role="button">取消</a>
			                        </span>
			                    </p>
			                </td>
			            </tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row none" style="padding: 40px 20px;">
			<div class="col-sm-12">
				<div>
					<span class="tit-span01">昵&nbsp;&nbsp;&nbsp;称：</span>
					<input class="edu-inp mr10" id="nick" type="text" placeholder="输入昵称" value="<%= user.nick %>" />只能输入数字、英文字母、下划线（_）
				</div>
				<div class="mt15" >
					<span class="tit-span01 fl ">头&nbsp;&nbsp;&nbsp;像：</span>
					<div id="choosebox" class="ellipsis fl">点击选择图片</div>
				    <form class="fl" id="image_form" action="/imgUpload/<%= user.name %>" method="post" enctype="multipart/form-data">
				        <input class="hide" type="file" id="file" name="img" multiple/>
				        <input type="hidden" id="fileurl"/>
			            <button class="btn btn-success btn-xs active" id="upload">上传头像</button>
				    </form>
				</div>
				<div style="margin-top: 50px;">
					<span class="tit-span01"></span>
					<% files && files.forEach(function(path){ %>
				    <div class="avatar-account">
				      <img src="<%=user.head%>"/>
				    </div>
				    <% }); %>
				</div>
			</div>
			<div class="col-sm-12 mt30">
				<a href="javascript:;" class="btn btn-primary btn-xs active" id="pic_submit" role="button">保存</a>
				<a href="javascript:;" class="btn btn-primary btn-xs active" role="button">取消</a>
			</div>
		</div>
		<div class="row none" style="padding: 40px 20px;">
			<div class="col-sm-12">
				<div>
					<span class="tit-span">旧密码：</span>
					<input class="edu-inp mr10" type="text" id="old_password" placeholder="输入旧密码"/>
				</div>
				<div class="mt15" >
					<span class="tit-span">新密码：</span>
					<input class="edu-inp mr10" type="text" id="new_password" placeholder="输入新密码"/>
				</div>
				<div class="mt15" >
					<span class="tit-span">再输入一次：</span>
					<input class="edu-inp mr10" type="text" id="new_password_repeat" placeholder="再次输入新密码"/>
				</div>
			</div>
			<div class="col-sm-12 mt30">
				<a href="javascript:;" class="btn btn-primary btn-xs active" role="button" id="update_password">修改</a>
			</div>
		</div>
	</div>
	<script src="../js/account.js"></script>
	<%- include footer %>