<div class="lastest">
	<div class="authors_profile">
		<a target="_blank" href="/u/<%= user.name %>" class="author_pic">
			<img src="<%= user.head %>"  class="lazy avatar avatar-80 photo" height="80" width="80" style="display: inline-block;">
		</a>
		<div class="author_name">
			<a target="_blank" href="/u/<%= user.name %>"><%= user.name %></a>
			<span>作者</span>
		</div>
		<p class="author_dec"><%= user.sign %></p>
		<div class="author_post_like">
			<a href="/u/<%= user.name %>" target="_blank">更多文章</a>
		</div>
	</div>
</div>