<%- include header %>
<div class="m-left">
	<%- include alert %>
	<% posts.forEach(function (tag, index) { %>
	<a class="label label-success dib"  href="/tags/<%= tag %>"><%= tag %></a>
	<% }) %>
	<%- include footer %>