<%- include header %>
<div class="m-left">
	<% if (title) { %>
	<div class="page-header">
		<h3><%= title %></h3>
	</div>
	<% } %>
	<article>
		<% if (success) { %>
		<div class="alert alert-success" role="alert"><%= success %></div>
		<% } %>
		<% if (error) { %>
		<div class="alert alert-danger" role="alert"><%= error %> </div>
		<% } %>
	</article>
	<% posts.forEach(function (tag, index) { %>
	<a class="label label-success dib"  href="/tags/<%= tag %>"><%= tag %></a>
	<% }) %>
	<%- include footer %>