<%- include header %>
<% posts.forEach(function(post, index){ %>
<p>
	<h2>
		<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
			<%= post.title %>
		</a>
	</h2>
	<a href="/u/<%= post.name %>">
		<img src="<%= post.head %>" class="r_head" />
	</a>
</p>
<p class="info">
	作者：<a class="mr40" href="/u/<%= post.name %>"><%= post.name%></a>
	日期：<span class="mr40"><%= post.time.minute %></span>
	分类：<a class="mr40" href="/p/<%= post.type %>"><%= post.type %></a>
	标签：
	<% post.tags.forEach(function(tag, index){ %>
	<% if (tag){ %>
	<a class="label label-success" href="/tags/<%= tag %>"><%= tag %></a>
	<% } %>
	<% })%>

</p>
<p><%- post.post %></p>
<p class="info">阅读：(<%= post.pv %>) ┆ 评论：(<%= post.comments.length %>)</p>
<% })%>
<%- include paging %>
<%- include footer %>